button.tab_close_button {
    background-image: none;
    opacity: 0.5;
    padding: 2px;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

button.tab_close_button:hover {
    opacity: 1;
}

notebook {
    padding: 5px;
}

.analysis-panel-contents {
    padding: 10px;
    font-size: 14px;
}

.score-label {
    padding: 10px;
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 500;
    background-color: #262626;
    color: #aaaaaa;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(38, 38, 38, 0.75);
}

.details-box {
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.nps-label {
    margin-left: 10px;
}

.best-line-label {
    font-size: 16px;
    padding-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #929292;
}